<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!--售药机客户端网站路径-->
    <add key="Url" value="http://localhost:5189/TestMachine.html"/>
    <!--广告网页路径-->
    <add key="AdvertUrl" value="http://img.pconline.com.cn/images/upload/upc/tx/wallpaper/1501/05/c0/1517691_1420467588429_800x600.jpg"/>
    <!--从广告页切回路径-->
    <add key="BackFromAdvertUrl" value="http://localhost:5189/"/>
    <!--多少秒切换到广告，建议至少两分钟-->
    <add key="Timeout" value="180"/>
    <!--日志路径-->
    <add key="LoggerPath" value="d:\_临时文件\"/>
    <!--Java平台接口路径-->
    <add key="RemoteUrl" value="http://114.112.167.146"/>
  </appSettings>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
